name: MyPy Check

on:
  pull_request:
jobs:
  mypy-check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
    env:
      PY_COLORS: "1"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Set up authentication for private repo
        run: |
          git config --global url."https://${{ secrets.POLYMATHIC_REPO_ACCESS }}@github.com/".insteadOf "https://github.com/"
      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install --extra-index-url https://download.pytorch.org/whl/cpu ".[test]"
          pip install mypy
      - name: Run MyPy
        id: mypy
        run: |
          mypy temporary_mppx_name tests --install-types --non-interactive &> mypy_output.txt || true
      - name: Read MyPy Output
        id: read-mypy
        run: |
          output=$(cat mypy_output.txt | grep -e "error:" -e "note:" -e "warning:" -e "Found")
          echo "output<<EOF" >> $GITHUB_OUTPUT
          echo "$output" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        continue-on-error: true
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            ## [Automatically-Generated MyPy Results]

            <details>
            <summary>Click to expand/collapse MyPy results</summary>

            ```
            ${{ steps.read-mypy.outputs.output }}
            ```

            </details>

            _Generated by the file [`mypy-check.yml`](https://github.com/${{ github.repository }}/blob/${{ github.sha }}/.github/workflows/mypy-check.yml)._
          comment_tag: mypy-results
          GITHUB_TOKEN: ${{ secrets.POLYMATHIC_COMMENT_BOT }}
